.b1001 {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.b1002 {
	border-left: 1px solid black;
	border-bottom: 2px solid black;
}
.b1021 {
	border-left: 1px solid black;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
}
.b1201 {
	border-left: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 1px solid black;
}
.b1202 {
	border-left: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}
.b1221 {
	border-left: 1px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
}
.b2001 {
	border-left: 2px solid black;
	border-bottom: 1px solid black;
}
.b2002 {
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}
.b2021 {
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
}
